{% extends "ads/base_menu.html" %}
<meta name="dj4e" content="d465f14a648b3d0a1faa6f447e526c60">
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block content %}
<span style="float: right;">
({{ article.updated_at|naturaltime }})
{% if article.owner == user %}
<a href="{% url 'myarts:article_update' article.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'myarts:article_delete' article.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ article.title }}</h1>
<p>
{{ article.text }}
</p>
<p>
</p>
<p>
<a href="{% url 'myarts:all' %}">All articles</a>
</p>
{% endblock %}
